<div class="modal" id="pwd-gen">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New Password</p>
            <button type="button" class="delete" (click)="closePwdGenerator()" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <label for="length" class="">Enter Length</label>
            <input (input)="onChangeLength($any($event).target?.value)" class="input is-primary" type="number"
                id="length">
            <div class="mt-2">
                <input (change)="changeUseNumbers()" type="checkbox" id="numbers" />
                <label for="numbers" class=""> Use Numbers</label>
            </div>
            <div class="mt-2">
                <input (change)="changeUseLetters()" type="checkbox" id="letters" />
                <label for="letters" class=""> Use Letters</label>
            </div>
            <div class="mt-2">
                <input (change)="changeUseSpecialChars()" type="checkbox" id="specialChars" />
                <label for="specialChars" class=""> Use Special Characters</label>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" (click)="generatePassword()" class="button is-primary is-fullwidth"
                [disabled]="!(length && (includeLetters || includeNumbers || includeSpecialChars))">Generate</button>
        </footer>
    </div>
</div>