<article class="panel is-primary">
  <p class="panel-heading">
    {{ appTitle }}
  </p>

  <div class="column is-4">
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      <label for="length" class="column is-6">Length</label>
      <input (input)="onChangeLength($any($event).target?.value)" class="input is-primary  column is-6" type="number"
        id="length" placeholder="">
    </a>

    <a class="panel-block is-active">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      <label for="numbers" class="column is-6">Use Numbers</label>
      <div class="column is-6">
        <input (change)="changeUseNumbers()" type="checkbox" id="numbers" />
      </div>
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      <label for="letters" class="column is-6">Use Letters</label>
      <div class="column is-6">
        <input (change)="changeUseLetters()" type="checkbox" id="letters" />
      </div>

    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      <label for="specialChars" class="column is-6">Use Special Characters</label>
      <div class="column is-6">
        <input (change)="changeUseSpecialChars()" type="checkbox" id="specialChars" />
      </div>
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      <button (click)="generatePassword()" class="button is-primary"
        [disabled]="!(length && (includeLetters || includeNumbers || includeSpecialChars))">Generate</button>
      <p class="input ml-2" *ngIf="password.length>0" disabled> {{password}}</p>
    </a>
  </div>
</article>