<h1>Password Generator</h1>

<div>
  <label>Password Length</label>
  <input (change)="onChangeLength($any($event).target?.value)" />
</div>
<div>
  <input (change)="changeUseNumbers()" type="checkbox" id="numbers" />
  <label for="numbers">Use numbers</label>
</div>
<div>
  <input (change)="changeUseLetters()" type="checkbox" id="letters" />
  <label for="letters">Use letters</label>
</div>
<div>
  <input (change)="changeUseSpecialChars()" type="checkbox" id="specialChars" />
  <label for="specialChars">Use special characters</label>
</div>
<button
  (click)="generatePassword(this.length, this.includeNumbers, this.includeLetters, this.includeSpecialChars)">Generate</button>
<input [value]="password" disabled />