<table class="table is-fullwidth">
    <thead>
        <tr>
            <th></th>
            <th>Domain</th>
            <th>Username</th>
            <th>Password</th>
            <th>Expires In</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let credential of credentials">
            <td><button class="delete"></button></td>
            <td> {{credential.domain}}</td>
            <td> {{credential.username}}</td>
            <td> {{credential.password}}</td>
            <td> {{credential.expiryDate}}</td>
        </tr>
    </tbody>
</table>